:root {
  --footer-height: 10rem;
  --footer-float-height: 43px;
  --footer-border: 1px solid var(--color-main-border);
}

.page-content {
  margin-bottom: calc(var(--footer-height) + 4rem);
}

.footer-desktop {
  /* Size & Position */
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) translateY(0);
  min-width: 100%;
  height: var(--footer-height);
  padding: 0 var(--horizontal-page-padding);

  /* Flex */
  display: flex;
  align-items: center;
  justify-content: center;

  /* Background & Border */
  background: var(--color-background);
  border-radius: none;
  border-top: var(--footer-border);
  border-bottom: 1px solid transparent;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;

  /* Font */
  font-family: "JetBrains Mono", monospace;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: var(--letter-spacing);
  word-spacing: var(--word-spacing);
  color: white;

  /* Performance */
  will-change: transform, bottom, height;
  backface-visibility: hidden;
  transform: translateX(-50%) translateY(0) translateZ(0);

  /* Animations */
  transition:
    bottom var(--transition-time-med) var(--transition-ease-bounce),
    transform var(--transition-time-med) var(--transition-ease-bounce),
    min-width var(--transition-time-med) var(--transition-ease-bounce),
    height var(--transition-time-med) var(--transition-ease-bounce),
    padding var(--transition-time-med) var(--transition-ease-bounce),
    border-radius var(--transition-time-med) var(--transition-ease-bounce),
    border-bottom var(--transition-time-med) var(--transition-ease-bounce),
    border-left var(--transition-time-med) var(--transition-ease-bounce),
    border-right var(--transition-time-med) var(--transition-ease-bounce),
    font-size var(--transition-time-med) var(--transition-ease-bounce);
}

.footer-desktop-item {
  display: flex;
  flex: 1;
  height: 100%;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
  white-space: nowrap;
  cursor: pointer;
  transition: opacity 0.3s ease;
  padding: 0 16px;
  min-width: fit-content;
}

.footer-desktop-item.social-media-item {
  animation: fadeInScale 0.3s var(--transition-ease-bounce) forwards;
  opacity: 0;
  transform: scale(0.9);
}

.footer-desktop-item.social-media-item .footer-desktop-text {
  opacity: 1 !important;
  max-width: 300px !important;
  margin-left: 0 !important;
  pointer-events: auto !important;
}

.footer-desktop-item.close-social .footer-desktop-icon {
  height: 18px;
  width: 18px;
}

.footer-desktop-item.close-social {
  animation: fadeInScale 0.3s var(--transition-ease-bounce) forwards;
  opacity: 0;
  transform: scale(0.9);
}

.footer-desktop-item.close-social .footer-desktop-text {
  opacity: 1 !important;
  max-width: 300px !important;
  margin-left: 0 !important;
  pointer-events: auto !important;
}

@keyframes fadeInScale {
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.footer-desktop-item-separator {
  height: 100%;
  width: 1px;
  background: var(--color-main-border);
}

.footer-desktop-icon {
  height: 15px;
  width: 15px;
  display: inline-block;
  flex-shrink: 0;
}

.footer-desktop-icon svg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer-desktop-text {
  opacity: 1;
  max-width: 300px;
  pointer-events: auto;
  transition:
    opacity var(--transition-time-med) var(--transition-ease-bounce),
    margin-left var(--transition-time-med) var(--transition-ease-bounce),
    max-width var(--transition-time-med) var(--transition-ease-bounce);
}

.footer-desktop-logo {
  position: absolute;
  top: 0;
  left: 50%;
  height: 22px;
  opacity: 1;
  transform: translateX(-50%) translateY(-50%) scale(1);
  transform-origin: 50% 50%;
  z-index: 2;
  transition: transform var(--transition-time-med) ease 0.9s;
}

.footer-desktop-line-cover {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50px;
  height: 20px;
  background: var(--color-background);
  transform: translateY(-1px) translateX(-50%);
  transform-origin: 50% 50%;
  z-index: 1;
  transition: width var(--transition-time-med) var(--transition-ease-bounce)
    var(--transition-time-fast);
}

.footer-desktop-logo svg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Altered States */

.footer-desktop.float {
  /* Size & Position */
  position: fixed;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%) translateY(0);
  min-width: 0;
  height: 45px;
  padding: 0 1px;

  /* Flex */
  display: flex;
  align-items: center;
  justify-content: center;

  /* Background & Border */
  background: var(--color-background);
  border-radius: var(--rounded-corners-med);
  border-top: var(--footer-border);
  border-bottom: var(--footer-border);
  border-left: var(--footer-border);
  border-right: var(--footer-border);

  /* Font */
  font-family: "JetBrains Mono", monospace;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: var(--letter-spacing);
  word-spacing: var(--word-spacing);
  color: white;
}

.footer-desktop.float .footer-desktop-item {
  height: 100%;
}

.footer-desktop.float .footer-desktop-text {
  opacity: 0;
  max-width: 0;
  margin-left: -6px;
  pointer-events: none;
  transition:
    opacity var(--transition-time-med) var(--transition-ease-bounce),
    margin-left var(--transition-time-med) var(--transition-ease-bounce),
    padding-left var(--transition-time-med) var(--transition-ease-bounce),
    max-width var(--transition-time-med) var(--transition-ease-bounce);
}

.footer-desktop.float
  .footer-desktop-item.meet-creator:hover
  .footer-desktop-text {
  padding-left: 2px;
}

.footer-desktop.float .footer-desktop-logo {
  transform: translateX(-50%) translateY(-50%) scale(0);
  transition: transform var(--transition-time-med) ease;
}

.footer-desktop.invisible {
  transform: translateX(-50%) translateY(200%);
}

.footer-desktop-line-cover.invisible {
  width: 0;
  transition: width var(--transition-time-med) var(--transition-ease-bounce);
}

@media (hover: hover) {
  .footer-desktop-item:hover .footer-desktop-text {
    opacity: 1;
    max-width: 300px;
    margin-left: 0;
    pointer-events: auto;
  }

  .footer-desktop:not(.float):hover .footer-desktop-item {
    opacity: 0.2;
  }

  .footer-desktop:not(.float):hover .footer-desktop-item:hover {
    opacity: 1;
  }
}

@media screen and (max-width: 1000px) {
  .footer-desktop {
    display: none;
    pointer-events: none;
  }

  .footer-desktop.float {
    display: none;
    pointer-events: none;
  }

  .page-content {
    margin-bottom: 0;
  }
}
